/* General Style */
body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #817777;
  color: white;
  padding: 20px 0;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.Welcome {
  text-align: center;
  padding: 40px;
  background-color: #f0ece2;
}

.Welcome img {
  margin-top: 15px;
  border-radius: 10px;
  width: 100px;
}

/* Main Content */
main {
  padding: 30px;
}

h2,
h3 {
  color: #5a4f4f;
}

/* Form Styling */
form {
  max-width: 400px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-top: 10px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #817777;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #6f6666;
}

footer {
  background-color: #817777;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
}
